@charset "UTF-8";
/*
CSS Document
By Alex Todd
*/

/*
---------------------------------------------------
            Custom Styles and Layout
---------------------------------------------------
*/

body {
  padding-top: 100px;
}

hr {
  margin: 8px 0px;
}

#postWrapper, #eventWrapper {
  margin-top: 25px;
}

.post, .searchResult {
  border-radius: 5px;
  border: 1px solid #666;
  padding: 15px 15px 5px 15px;
}

.event, .group {
  border-radius: 5px;
  border: 1px solid #666;
  padding: 0 15px 5px 15px;
  margin: 5px 0px 10px 0px;
}

.searchResult {
  margin-top: 25px;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}
